In [2]:
import pandas as pd
import numpy as np
import random

In [5]:
book = pd.read_csv('book_id_map.csv')
book.shape

(2360650, 2)

In [13]:
book.head()

   book_id_csv   book_id
0            0  34684622
1            1  34536488
2            2  34017076
3            3     71730
4            4  30422361

In [19]:
book[book.book_id==1] #book_id =1 있는지 확인

     book_id_csv  book_id
944          944        1

In [14]:
book.info() #둘 다 int 형태

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2360650 entries, 0 to 2360649
Data columns (total 2 columns):
 #   Column       Dtype
---  ------       -----
 0   book_id_csv  int64
 1   book_id      int64
dtypes: int64(2)
memory usage: 36.0 MB

In [3]:
user = pd.read_csv('users.csv')
user.shape

(10000, 12)

In [6]:
# 쉐어링 데이터 1000개 랜덤추출
u = user.user_id.sample(replace=True, n=1000).tolist()
b = book.book_id.sample(replace=True, n=995).tolist()
# 데모 위해 필요할지 모르니 첫 5개 행은 book_id = 1 로 fix해놓을게요!
b = [1]*5 + b 
b.sort()
s = [i for i in range(1,1001)]

In [8]:
len(u), len(b), len(s)

(1000, 1000, 1000)

In [9]:
pd.Series(u).nunique(), pd.Series(b).nunique()

(952, 996)

In [15]:
#데이터 프레임 만들기
sharing = pd.DataFrame({'sharing_id': s, 'user_id': u, 'book_id': b})
sharing.head()

   sharing_id                           user_id  book_id
0           1  8958776e359aa5758467939af0764a44        1
1           2  27263c580f3b851301a0e4e366402230        1
2           3  287b488c044d591a8516ab42e8ff44de        1
3           4  f993fca61117b679f7cd6ea53fcbd77c        1
4           5  5aeb06f76ea932e9964b6c97d31b2b16        1

In [20]:
sharing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sharing_id  1000 non-null   int64
 1   user_id     1000 non-null   object
 2   book_id     1000 non-null   int64
dtypes: int64(2), object(1)
memory usage: 23.6+ KB

In [21]:
# 스키마와 동일하게 book_id int -> str 변환
sharing['book_id'] = sharing['book_id'].astype(str)

In [22]:
sharing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sharing_id  1000 non-null   int64
 1   user_id     1000 non-null   object
 2   book_id     1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [23]:
# csv파일로 저장
sharing.to_csv('sharing.csv',index=False)