In [2]:
import sqlite3

def query(command, path='project.db'):
    conn = sqlite3.connect(path)
    cursor = conn.cursor()
    cursor.execute(command)
    rows = cursor.fetchall()
    conn.close()
    return rows

In [3]:
# Example 1
result = query("SELECT * FROM Reviews LIMIT 100")
print(len(result))

100

In [4]:
# Example 2
for table in ['Users', 'Books', 'Authors', 'Ratings', 'Reviews', 'Sharings']:
    result = query(f"SELECT * FROM {table} LIMIT 2")
    print(f'### {table}')
    for row in result:
        print(row)

### Users
('0000c3d51aa099745e93a4e99c4856c8', '1', '1', 'Judith1', '72fb0d00@bkms.com', '서울특별시 강남구 도곡동 도곡대림', '강남구', '도곡동', '[37.4865450724295, 127.039889051865]', 37.4865450724295, 127.039889051865)
('0005f52944ea1992e95d61f287acaea9', '163', '163', 'Dimetry163', '854c0f87@bkms.com', '서울특별시 동작구 상도동 상도래미안1차제2', '동작구', '상도동', '[37.50571609361137, 126.93334302462937]', 37.50571609361137, 126.93334302462937)
### Books
('7327624', 'The Unschooled Wizard (Sun Wolf and Starhawk, #1-2)', '10333', 'https://images.gr-assets.com/books/1304100136m/7327624.jpg', 'Omnibus book club edition containing the Ladies of Madrigyn and the Witches of Wenshar.', 4.03)
('6066819', 'Best Friends Forever', '9212', 'https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png', "Addie Downs and Valerie Adler were eight when they first met and decided to be best friends forever. But, in the wake of tragedy and betrayal during their teenage years, everything changed. Val went on to fame and fortune. Addie stayed behind in their small Midwestern town. Destiny, however, had more in store for these two. And when, twenty-five years later, Val shows up at Addie's front door with blood on her coat and terror on her face, it is the beginning of a wild adventure for two women joined by love and history who find strength together that they could not find alone.", 3.49)
### Authors
('626222', 'Anita Diamant')
('10333', 'Barbara Hambly')
### Ratings
('1', '01ec1a320ffded6b2dd47833f2c8e4fb', '34426579', 5, '1')
('2', '01ec1a320ffded6b2dd47833f2c8e4fb', '32993133', 5, '2')
### Reviews
('1', '4.5 I\'m-Obsessed Stars!! \n Jessica Hawkins has written an engrossing and emotional romance that I simply couldn\'t put down! I am obsessed with Lake and Manning. Book #3 is releasing on 10/23 so if you\'ve been waiting to start this series, don\'t delay! \n "Ten months. That was how long I\'d gone without a fix. Lake\'s letters came every couple weeks. I\'d opened the first one, but that was it. I\'d known right then that if I was going to make it through this, I couldn\'t think of her. Couldn\'t be inside her head that way, and she definitely couldn\'t be inside mine." \n My heart broke for Lake and Manning. They endured years apart and obstacles at every turn. I honestly do not know what will happen, but I can\'t wait to find out! \n "But he was still the one who could get everything I wanted with one word from Lake." \n This is the kind of book that I read every chance I could. The characters are all believable and very real. The California setting was described perfectly. I simply could not put this book down!!! Highly recommend this series for contemporary romance readers. I\'m a Jessica Hawkins fan for life!! \n " I couldn\'t tell her I loved her. I couldn\'t tell her I didn\'t. It killed me, but that was how it was. It wasn\'t going to be any other way, no matter how many times she put me in this goddamn position." \n Favorite quote: \n "Maybe one day, Manning and I would challenge fate, defy gravity, and move the stars ourselves. But today was not that day."')
('2', '4.5 Stars!! \n "Was sixteen too young to fall in love? I might\'ve thought so before Manning. Could he love me back, a man seven years older? I was sure if he did, he\'d never admit it. But I would wait for him. Even I understood that for a while, our ages mattered." \n As a longtime fan of Jessica Hawkins, I just knew I would love this book. And from the very first page, I was totally hooked. What a delight! A slow-burn, forbidden romance. My favorite! \n This is the kind of book where the author takes her time describing a first meeting, a small moment, a conversation. Nothing is simply told, it is shown. I flew through this book, absolutely breathless with anticipation at what would happen next! \n Lake and Tiffany are two sisters who both meet Manning at the same time. There\'s just one problem: Lake is only 16 years old. And Manning is a handsome construction worker with a past. \n He half-smiled, one corner of his mouth lifting. That was the first I saw of his straight, white teeth. My heart skipped. Under the dirt, the sweat, the calluses, he was handsome. I\'d known it already, peripherally, as I knew the direction of the beach or the artwork hanging in my dad\'s office. But now it was right in front of me. I couldn\'t miss it." \n Lake is a good girl: smart, studious and obedient. Tiffany is the wild child. But the interactions with their parents are nuanced and there is more to them than their labels. Although Tiffany seems flighty, she is much more appropriate for Manning than Lake. But who will get his heart? \n "Manning leaned his elbows onto his knees and watched her approach. My sister had that effect on men. They were always looking over or around me to see her. What\'d he think when he looked at her? What\'d he notice first?" \n I rarely have time to read a series back to back. But this book was so gripping and intense that I am immediately picking up the next book! I am obsessed with these characters and their story! \n "Some invisible tether existed between us. Nobody could see it, not even us, but I felt it. I was sure Manning did, too. As long as we both knew it, that was enough for me. For now, at least." \n Highly recommend this one. It has great pacing, a real setting and a gripping story. Don\'t miss it!! \n "It was a promise. No matter what, the story would only ever be about us.')
### Sharings
('1', '213ebbd84be50e1c88353ea4d17c2e70', '6728514')
('2', '21d3b9ef9fe95bac4438e4bbb69816d2', '11153081')

In [5]:
def db_check(name):
    conn = sqlite3.connect(name)
    c = conn.cursor()

    query = "SELECT name, sql FROM sqlite_master WHERE type='table'"
    c.execute(query)
    result = c.fetchall()

    for table_name, schema in result:
        print("---")
        row_count_query = f"SELECT COUNT(*) FROM {table_name}"
        c.execute(row_count_query)
        row_count = c.fetchone()[0]
        print(f"Table '{table_name}': {row_count} rows")
        print(f"Schema:\n{schema}\n")

    conn.close()

In [7]:
db_check('project.db')

---
Table 'Authors': 107372 rows
Schema:
CREATE TABLE Authors (
                                        author_id text NOT NULL PRIMARY KEY,
                                        name text NOT NULL)

---
Table 'Books': 427314 rows
Schema:
CREATE TABLE Books (
                                        book_id text NOT NULL PRIMARY KEY,
                                        title text NOT NULL,
                                        author_id text NOT NULL,
                                        image_url text NOT NULL,
                                        description text NOT NULL,
                                        average_rating real NOT NULL,
                                        FOREIGN KEY (author_id) REFERENCES Authors(author_id))

---
Table 'Reviews': 3374600 rows
Schema:
CREATE TABLE Reviews (review_id text NOT NULL PRIMARY KEY,
                                        review_text text NOT NULL)

---
Table 'Ratings': 3374600 rows
Schema:
CREATE TABLE Ratings (rating_id text NOT NULL PRIMARY KEY,
                                        user_id text NOT NULL,
                                        book_id text NOT NULL,
                                        rating INTEGER NOT NULL,
                                        review_id text,
                                        FOREIGN KEY (user_id) REFERENCES Users(user_id),
                                        FOREIGN KEY (book_id) REFERENCES Books(book_id),
                                        FOREIGN KEY (review_id) REFERENCES Reviews(review_id))

---
Table 'Users': 10000 rows
Schema:
CREATE TABLE "Users" (
                                        user_id text NOT NULL PRIMARY KEY,
                                        id text NOT NULL ,
                                        pw text NOT NULL,
                                        nickname text NOT NULL,
                                        email text NOT NULL,
                                        address text NOT NULL,
                                        address_gu text NOT NULL,
                                        address_dong text NOT NULL,
                                        lat_long text NOT NULL,
                                        lat real NOT NULL,
                                        long real NOT NULL
                                        )

---
Table 'Sharings': 30000 rows
Schema:
CREATE TABLE Sharings (share_id text NOT NULL PRIMARY KEY,
                                        user_id text NOT NULL,
                                        book_id text NOT NULL,
                                        FOREIGN KEY (user_id) REFERENCES Users(user_id),
                                        FOREIGN KEY (book_id) REFERENCES Books(book_id))